{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="p-4">
	<br>
	<h1>Puestos</h1><br>

	<form>
		
		<div class="row">
			
				{% for Puesto in post_list %}
				<div class=col-md-4>
                    <br>

					        <strong>Nombre: <p>{{ Puesto.nombre }}</p></strong><hr>

					        <strong>Propietario: </strong><p>{{ Puesto.propietario }}</p>


				</div>
	    		{% endfor %}

		</div><br><br>

			<p><a href="{% url 'agregar' %}">Agregar</a></p>


	</form>
	<br><br><br>

</div>

{% endblock content %}